# Core functionality - changes here should be rare!
/src/app.py                   @anuteresa
/src/backend/database.py      @anuteresa
/src/backend/routers/auth.py  @anuteresa

# The frontend will need refactored soon to be more object oriented.
/src/static/   @anuteresa
